In [7]:
import numpy as np
import pandas as pd

#### vd4.6.5.1

In [3]:
index = pd.MultiIndex.from_product([[2020,2021,2022],[1,2,3]],
                                   names = ['Năm','Lần thi'])
columns = pd.MultiIndex.from_product([['Bình','Lan','Vân'],
                                      ['Toán','Lý','Hóa']],
                                      names = ['Học sinh','Môn học'])

data = np.random.randint(5,10,(9,9))

score = pd.DataFrame(data, index=index, columns=columns)
score

Học sinh     Bình         Lan         Vân
Môn học      Toán Lý Hóa Toán Lý Hóa Toán Lý Hóa
Năm  Lần thi
2020 1          5  8   9    7  7   9    7  8   6
     2          9  9   7    8  5   5    9  7   6
     3          9  5   8    5  9   5    6  5   7
2021 1          8  8   7    7  5   6    8  5   7
     2          7  8   6    8  6   6    5  6   7
     3          6  7   5    8  9   5    7  7   7
2022 1          7  8   8    9  8   8    7  5   6
     2          9  8   6    9  5   7    5  9   7
     3          5  7   8    9  9   8    5  6   6

In [8]:
score.groupby(level='Năm').mean()

Học sinh      Bình                           Lan                      \
Môn học       Toán        Lý       Hóa      Toán        Lý       Hóa
Năm
2020      7.666667  7.333333  8.000000  6.666667  7.000000  6.333333
2021      7.000000  7.666667  6.000000  7.666667  6.666667  5.666667
2022      7.000000  7.666667  7.333333  9.000000  7.333333  7.666667

Học sinh       Vân
Môn học       Toán        Lý       Hóa
Năm
2020      7.333333  6.666667  6.333333
2021      6.666667  6.000000  7.000000
2022      5.666667  6.666667  6.333333

In [11]:
score.groupby(level='Môn học', axis=1).mean()

Môn học            Hóa        Lý      Toán
Năm  Lần thi
2020 1        8.000000  7.666667  6.333333
     2        6.000000  7.000000  8.666667
     3        6.666667  6.333333  6.666667
2021 1        6.666667  6.000000  7.666667
     2        6.333333  6.666667  6.666667
     3        5.666667  7.666667  7.000000
2022 1        7.333333  7.000000  7.666667
     2        6.666667  7.333333  7.666667
     3        7.333333  7.333333  6.333333